<div *ngIf="movie">
    <h4>{{ movie.original_title | uppercase }}  </h4>
    <ol>
        <li>Release date: {{ movie.release_date }}</li>
        <li>Rating: <span [style.color]="voteColor()" >{{ movie.vote_average }}</span> / 10</li>
        <li>Runtime: {{ movie.runtime }} min</li>
    </ol>
    <p [innerHTML]="movie.overview"></p>
</div>
<div *ngIf="comments">
    <ol>
        <li *ngFor="let comment of comments">
            <app-comment [comment]="comment"></app-comment>
        </li>
    </ol>
</div>
<h5>New post</h5>
<input [(ngModel)]="newComment.author" placeholder="Author...">
<input [(ngModel)]="newComment.text" placeholder="Content...">
<button (click)="submitComment()">Submit</button>